name: Create modpack

on:
  push:
    tags:
      - '*'

jobs:
  pack:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Zip modpack
        run: zip -r "create-19th_${{ github.ref_name }}.mrpack" modrinth.index.json overrides